.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

body {
  overflow: hidden;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#txt{
  font-size: 100px;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  text-align: center;
  top: 40px; left:100px;
}

#undertxt{
  font-size: 40px;
  color:blanchedalmond;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  top: 240px; left:150px;
}

#wrap {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
    display: flex;
    color: #f00;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
  }
  
  #wrap:not(:target) {
    transform: translate3d(-335px, 0, 0);
  }
  
  #wrap:target {
    transform: translate3d(0, 0, 0);
  }
  
  #open,
  #close {
    height: 44px;
    text-align: right;
    display: block;
    margin-right: -30px;
  }
  
  #wrap:target #open,
  #wrap:not(:target) #close {
    display: none;
  }
  
  #wrap:target #open {
    display: none;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .header {
    background: rgb(81, 118, 173);
    width: 350px;
    padding: 0 20px;
    height: 100vh;
    display:inline-block;
    vertical-align:top;
  }
  
  .nav {
    padding: 25px;
  }
  
  .main {
    padding: 25px;
    flex: 1;
    display:inline-block;
  }
  
  p {
    max-width: 590px;
    color:rgb(224, 224, 224);
  }